<% content_for :title, "Editing virtual user" %>

<h1>Editing virtual user</h1>

<%= render "form", virtual_user: @virtual_user %>

<br>

<div>
  <%= link_to "Show this virtual user", @virtual_user %> |
  <%= link_to "Back to virtual users", virtual_users_path %>
</div>
