<p style="color: green"><%= notice %></p>

<% content_for :title, "Virtual users" %>

<h1>Virtual users</h1>

<div id="virtual_users">
  <% @virtual_users.each do |virtual_user| %>
    <%= render virtual_user %>
    <p>
      <%= link_to "Show this virtual user", virtual_user %>
    </p>
  <% end %>
</div>

<%= link_to "New virtual user", new_virtual_user_path %>
