<% content_for :title, "New virtual user" %>

<h1>New virtual user</h1>

<%= render "form", virtual_user: @virtual_user %>

<br>

<div>
  <%= link_to "Back to virtual users", virtual_users_path %>
</div>
