<% content_for :title, "Editing parsed email record" %>

<h1>Editing parsed email record</h1>

<%= render "form", parsed_email_record: @parsed_email_record %>

<br>

<div>
  <%= link_to "Show this parsed email record", @parsed_email_record %> |
  <%= link_to "Back to parsed email records", parsed_email_records_path %>
</div>
